/* CSS HEX */

.blueFColor {
    color:#5386e4ff
}

.violetFColor {
    color:#4c4b63ff

}

.taupe-grayFColor {
    color:#949396ff

}

.french-grayFColor {
    color: #aba8b2ff

}

.silverFColor {
    color:#c3c3c3ff
}

.blueBColor {
    background-color:#5386e4ff
}

.violetBColor {
    background-color:#4c4b63ff

}

.taupe-grayBColor {
    background-color:#949396ff

}

.french-grayBColor {
    background-color: #aba8b2ff

}

.silverBColor {
    background-color:#c3c3c3ff
}